*{
    margin: 0;
    padding: 0;
    
}

.complete-background
{
    background-color: aqua; 
}

.logo-color{
    background-color: rgb(116, 104, 223);
}

.sidebar-menu
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #ffffff;
    margin: 0;
    padding: 0;

}
.logo-text
{
    color: white;
    display: inline-block;
    font-family: cursive;
    padding: 0.5rem;
}

.version
{
    padding: 0 10px;
    border-radius: 1rem;
    font-size: 12px;
    background-color: #ffffff;
    color: black;
}

.hamburger-menu
{
    margin-left: 115px;
    font-size: 25px;
    color: white;
}

#profile-picture
{
    border-radius: 50%;
    height: 125px;
    width: 125px;
    margin: 16px auto 0;
}

.dashboard-heading{
    margin-left: 20px;
}

.borderless  li  {
border: none!important;
}

.borderless  a{
    text-decoration: none;
    color: black;
}


.borderless  li:hover{
    cursor: pointer;
    background-color: rgb(191, 189, 214);
    color:rgb(51, 33, 209);
}


/*header  */


.header-search{
    background-color: #ffffff;
}
#search{
    border: none;
    padding: 13px 68px 12px 5px;
    outline: none;
}

.navbar-left{
    margin-left: 230px;
}

.message-notification{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: blue;
    color: white;
    display: inline-block;
    text-align: center;
    margin-left: -6px;
}

.profile-picture2{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 6px 0 0 15px;
}

.large-bell{
    background-color: blue;
    color: wheat;
    padding: 10px;
    border-radius: 6px;
}

.alert-section{
    padding:30px;
}

.alert-text{
     display: inline-block;
     margin-left: 20px;
}

.btn-alert{
    border: 1px solid gray;
    padding: 10px 50px 10px 35px;
}

ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}

.list-menu{
    display: flex;
}

.list-menu li a{
    color:rgb(29, 27, 27);
    font-size: 15px;
    font-family: monospace;
}
.list-menu li a:hover{
    padding:0 0 16px 0;
    border-bottom: 2px solid black;
    border-bottom-color:blue;
    font-weight: bold;
}
hr{
    margin: 0 0 0 30px;
    max-width: 93%;
    
}
.content-image
{
background-image: url("/images/content-img.jpeg");
height: 12%;
border-radius: 10px;
width: 89%;
margin-left: 55px;
}

.btn-reports{
    border-radius: 30px;
    padding: 6px 40px 6px 40px;
    color: white;
    
}

.content p{
    color: rgb(173, 17, 17);
}
 .image-btn a:hover{
     
     background-color: white;
     color: blue;
 }

 .circle-exclamation{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 2px 0 0 0;
    margin-top: 6px;
 }

 .card-header-content{
     display: flex;
   
 }
 .card-content{
    margin: 2px 0 0 8px;
    font-size: 11px;
    font-family: monospace;
 }

 .card-btn{
    margin: 5px 0 0 13px;
    
 }
 .view-alerts{
    font-size: 10px;
 }

 .card-icon-large
 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #3e4abe;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 40px;
 }
 .card-icon-small{
    border-radius: 50%; 
    width: 20px;  
    height: 20px;
    background-color: #cccce2;
    color: black;
    text-align: center;
    padding: 4px;
    margin:0 0 0 -20px;
 }